Django>=6.1.0,<6.2.0
djangorestframework>=3.16.0
djangorestframework-simplejwt>=5.5.0
django-cors-headers>=4.9.0
django-mongodb-backend>=6.1.0
pymongo>=4.16.0
qrcode>=8.2
pyjwt>=2.11.0
Pillow>=12.1.0
