Django>=6.1.0,<6.2.0
djangorestframework>=3.16.0
djangorestframework-simplejwt>=5.5.0
django-cors-headers>=4.9.0
psycopg2-binary>=2.9.9
dj-database-url>=2.1.0
qrcode>=8.2
pyjwt>=2.11.0
Pillow>=12.1.0
requests>=2.31.0
razorpay>=2.0.0
google-auth>=2.28.0
cryptography>=42.0.0
python-dotenv>=1.0.0

